<div>
    <div class="container">
        <div class="row">
            Участники: {{usersString}}
        </div>
        <div class="row">
            <ul class="chat">
                <li ng-repeat="message in messages | filter:privateFilter" >
                    <strong>{{message.name}}:</strong>{{message.text}}
                </li>
            <ul>
        </div>
    </div>

    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner footer">
            <div class="container">
                <div class="row">
                    <form class="form">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Message" autofocus ng-model="message">
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-default" ng-click="sendMessage()">Send</button>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="private" class="form-control">
                                <option value="">Всем</option>
                                <option ng-repeat="user in otherUsers" value={{user}}>{{user}}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>